<p id="notice"><%= notice %></p>

<h1>Blind Dates</h1>

<table>
  <thead>
    <tr>
      <th>Lunch date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blind_dates.each do |blind_date| %>
      <tr>
        <td><%= blind_date.lunch_date %></td>
        <td><%= link_to 'Show', blind_date %></td>
        <td><%= link_to 'Edit', edit_blind_date_path(blind_date) %></td>
        <td><%= link_to 'Destroy', blind_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blind Date', new_blind_date_path %>
